@import url("https://fonts.googleapis.com/css?family=Poppins");
html, body {
    height: 100%;

    padding: 0;
    margin: 0; }

section.management-hierarchy {
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    position: relative; }

section.management-hierarchy h1 {
    text-align: center;
    margin-bottom: 70px; }
section.management-hierarchy .hv-container {
    flex-grow: 1;

    justify-content: center; }
.hv-container{
    background-color: #303840;
    padding:30px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.basic-style {
    background-color: #EFE6E2; }
.basic-style > h1 {
    color: #ac2222; }

p.simple-card {
    margin: 0;
    background-color: #fff;
    color: #DE5454;
    padding: 30px;
    border-radius: 7px;
    min-width: 100px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(204, 131, 103, 0.22); }

.hv-item-parent p {
    font-weight: bold;
    color: #DE5454; }

.management-hierarchy > h1 {
    color: #FFF; }
.management-hierarchy .person {
    text-align: center; }
.management-hierarchy .person > img {
    height: 110px;
    border: 5px solid #FFF;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff; }
.management-hierarchy .person > p.name {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    color: #3BAA9D;
    margin: 0;
    position: relative; }
.management-hierarchy .person > p.name b {
    color: rgba(59, 170, 157, 0.5); }
.management-hierarchy .person > p.name:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 8px;
    background-color: #fff;
    left: 50%;
    top: 0;
    transform: translateY(-100%); }
